<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/cabinet.css}" type="text/css">
    <title>User Cabinet</title>
</head>
<body>
<div class="topnav">
    <a class="active" href="/cabinet">Cabinet</a>
    <a href="/applicants/new">New application</a>
    <a href="/applicants/all">All applicants</a>
    <a href="#">About</a>
<form action="/logout" method=post>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input class="logout" type="submit" value="Logout">
</form>
</div>

<h1>User info:</h1>
<h2>First name:</h2>
<p th:text="${user.getFirstName()}">VALUE</p>
<h2>Last name:</h2>
<p th:text="${user.getLastName()}">VALUE</p>
<h2>Last birth date:</h2>
<p th:text="${user.getBirthYear()}">VALUE</p>
<h2>Email:</h2>
<p th:text="${user.getEmail()}">VALUE</p>
<h2>ID:</h2>
<p th:text="${user.getId()}">VALUE</p>
</body>
</html>