<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/show.css}" type="text/css">
    <title>Applicant info</title>
</head>
<body>
<div class="topnav">
    <a href="/cabinet">Cabinet</a>
    <a class="active" href="/applicants/new">New application</a>
    <a href="/applicants/all">All applicants</a>
    <a href="#">About</a>
    <form action="/logout" method=post>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input class="logout" type="submit" value="Logout">
    </form>
</div>
<div class="wrapper">
    <div class="left-bar">
        <h4>Profile image:</h4>
        <img class="profile-img" th:src="${'data:image/jpeg;charset=utf-8;base64,' + applicant.getProfileImage()}"/>
        <h4>Application ID:</h4>
        <p th:text="${applicant.getId()}">VALUE</p>
        <h4>Applicant name:</h4>
        <p th:text="${applicant.getFirstName()}">VALUE</p>
        <h4>Applicant surname:</h4>
        <p th:text="${applicant.getLastName()}">VALUE</p>
        <h4>Applicant birth year:</h4>
        <p th:text="${applicant.getBirthYear()}">VALUE</p>
        <h4>Chosen faculty:</h4>
        <p th:text="${applicant.getFaculty().getFacultyName()}">VALUE</p>
    </div>

    <div class="right-bar">
        <div th:if="${ not#lists.isEmpty(applicant.getFaculty().getSubjects())}">
            <table>
                <tr>
                    <th>Subject name</th>
                    <th>Mark</th>
                </tr>
                <tr th:each="subject : ${applicant.getFaculty().getSubjects()}">
                    <td th:text="${subject}"></td>
                    <td th:text="UNDEFINED"></td>
                </tr>
            </table>
        </div>
        <br/>
        <form th:object="${applicant}" method="POST" th:action="@{/applicants/marks}">
            <input type="hidden" th:field="*{id}"/>

            <div th:each="subject, subjectIndex : ${applicant.getFaculty().getSubjects()}">
                <label th:text="${subject}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"></label>
                <input type="text" th:field="*{subjects[__${subjectIndex.index}__].name}" th:value="MATH"/>
                <input type="text" th:field="*{subjects[__${subjectIndex.index}__].rate}"
                       th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"/>
            </div>
            <button type="submit" th:text="Submit"
                    th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"></button>
        </form>
    </div>
</div>
</body>
</html>